#############################################################################
#  SUSE Rancher Application Collection
#############################################################################

# Application Collection Username
#
# The name of the service account or access token created to grant access to 
# entitlements in the Application Collection.
#
export APP_COLLECTION_USERNAME=


# Application Collection Token
#
# The token generated for the service account or access token.
#
export APP_COLLECTION_PASSWORD=


#############################################################################
#  SUSE Trusted Registry
#############################################################################

# Trusted Registry Username
#
# The username of the SCC account with access to the SUSE Trusted Registry.
#
export SUSE_TRUSTED_REGISTRY_USERNAME=


# Trusted Registry Password
#
# The password for the user account.
#
export SUSE_TRUSTED_REGISTRY_PASSWORD=


#############################################################################
#  SUSE Observability
#############################################################################

# SUSE Observability License Key
#
export OBSERVABILITY_LICENSE_KEY=
