
############################################################################
#   Common Variables
############################################################################

# Set the sysctl fs.inotify.max_user_instances
#
# Used to avoid errors with too many open files.
#
export FS_INOTIFY_MAX_USER_INSTANCES=1024


# DNS Domain Name
#
# DNS domain name of the cluster nodes and the cluster
#
# The cluster is assumed to have a DNS entry that resolves 
# CLUSTER_NAME.DOMAIN_NAME to the IP address of the first cluster node 
# (or round-robin DNS/loadbalancer to all cluster control nodes or cluster VIP) 
#
export DOMAIN_NAME=example.com


# Name of the Storgae Class to Use When One is Needed
#
export STORAGE_CLASS_NAME=longhorn


# URI to the SUSE Rancher Application Collection (App Co)
#
export APP_COLLECTION_URI=oci://dp.apps.rancher.io/charts


# The Name of the Secret to Create that is Used to Access the App Co
#
export IMAGE_PULL_SECRET_NAME=application-collection


############################################################################
#   RKE2/K3S Variables
############################################################################

# K8s distro to deploy
#
# Options: rke2, k3s
#
# Default (recommended): rke2
#
export K8S_DISTRO=rke2


# K8s distro version channel to deploy from
#
# This is the channel containing the version of K8s (RKE2/K3S) to deploy.
#
# If you need a specific version you must supply the version tag.
#   Example: v1.30
# 
# If a spcific version tag is not specified then you must supply one of 
# the following version tags: stable, latest, testing
#   Example: stable
#
# Default: stable
#
export K8S_DISTRO_CHANNEL=stable


# Value Used for the Hostname of the Cluster
#
# Used as the name of the cluster when configuring name resolution or also
# commonly used as the cluster name when importing the cluster into Rancher Manager.
#
export CLUSTER_NAME=c01


# Value Used for the Cluster Token
#
export CLUSTER_TOKEN=${CLUSTER_NAME}


# The built-in Ingress controller to install
#
# Options: ingress-nginx, traefik, none

# Default: traefik
#
# Note: If 'rke2-ingress-nginx' is in DISABLED_BUILTIN_SERVICE_LIST then this 
#       must be set to either 'none' or 'traefik'.
#
export BUILTIN_INGRESS_CONTROLLER=traefik


# CNI to use for cluster network
#
# Options: canal cilium calico flannel multus,canal multus,cilium multis,calico
#
# Default: canal
#
export RKE2_CNI=canal


# Enable SELinux
#
# Options: true|false
#
# Default: false
#
export RKE2_SELINUX_ENABLED=false


# Disable Built-in RKE services
#
# Space-delimited list
#
# If you want to disable any of the built-in RKE2 services, add them to this
# variable.
#
export DISABLED_BUILTIN_SERVICE_LIST=


# Install an External Ingress Controller
#
# Options: true|false
#
# Default: false
#
# Note: If INSTALL_EXTERNAL_INGRESS_CONTROLLER=true then 
#       DISABLE_BUILTIN_SERVICE_LIST must contain 'rke2-ingress-nginx'
#       to ensure the built-in ingress controller is not enabled.
#
#       This must be set to 'true' if INSTALL_KUBEVIP=true
#
export INSTALL_EXTERNAL_INGRESS_CONTROLLER=false


# External ingress controller to install
#
# If INSTALL_EXTERNAL_INGRESS_CONTROLLER=true then this is the ingress 
# controller that will be installed.
#
# Options: ingress-nginx, trafik
#
export EXTERNAL_INGRESS_CONTROLLER=


# Namespace to Install the External Ingress Controller Into
#
# Default: kube-system
#
# The namespace where the built-in ingress controller is installed is 
# kube-system. Installing into that namespace avoids certificate issues.
#
export EXTERNAL_INGRESS_CONTROLLER_NAMESPACE=kube-system


# How to Deploy the External Ingress Controller
#
# Options: Deployment|DaemonSet
#
# Default: Deployment
#
# When set to DaemonSet the number of replicas does not need to be set becase
# a replica will be created on each node in the cluster.
#
export EXTERNAL_INGRESS_CONTROLLER_KIND=DaemonSet


# Number of External Ingress Controller Repicas
#
# Default: 1
#
# This only has effect if EXTERNAL_INGRESS_CONTROLLER_TYPE=Deployment
#
export EXTERNAL_INGRESS_CONTROLLER_REPLICAS=1


# Install kube-vip to Configure a Cluster Virtual IP
#
# Options: true|false
#
# Default: false
#
# Note: If INSTALL_RKE2_KUBEVIP=true then you must also set a virtual IP
#       in RKE2_CLUSTER_VIP.
# 
export INSTALL_RKE2_KUBEVIP=false


# Kube-VIP Helm Install URL
# 
# The Helm repo to install Kube-VIP from.
#
# The upstream repo is: https://kube-vip.github.io/helm-charts
#
export RKE2_CLUSTER_VIP_KUBEVIP_HELM_REPO="https://kube-vip.github.io/helm-charts"


# Version of Kube-VIP to Install
#
# If left empty the latest version will be installed.
#
export RKE2_CLUSTER_VIP_KUBEVIP_VERSION=


# Namespace to install Kube-VIP into for the RKE2 Cluster VIP
#
export RKE2_CLUSTER_VIP_NAMESPACE=kube-vip


# Virtual IP for the RKE2 cluster
#
# Example: 172.31.9.200
#
export RKE2_CLUSTER_VIP=


# RKE2 Virtual IP Interface
#
# Example: eth0
#
export RKE2_CLUSTER_VIP_INTERFACE=


# RKE2 Virtual IP Control Plane Enable
#
# Options: true|false
#
# Default: true
#
export RKE2_CLUSTER_VIP_CP_ENABLE=true


# RKE2 Virtual IP Leader Election
#
# Options: true|false
#
# Default: true
#
export RKE2_CLUSTER_VIP_LEADERELECTION=true


# Additional RKE2 Virtual IP Hostname
#
# If you have an additional hostname/FQDN that resolves to your cluster IP you can set
# it here.
#
export RKE2_CLUSTER_VIP_HOSTNAME=
