############################################################################
# Source In Additional Config Files
############################################################################

source ../deploy_rke2.cfg


############################################################################
#   Trusted Registry Variables
############################################################################

# List of Namespaces the will Require Authentication
#
export TRUSTED_REGISTRY_NAMESPACE_LIST=""


