############################################################################
# Source In Additional Config Files
############################################################################

source deploy_suse_observability.cfg


############################################################################
#   SUSE Observability AI Extension Variables
############################################################################


# Observability API Key
#
# Can be found in the 'baseConfig_values.yaml' file used when installing the 
# SUSE Observability cluster.
#  Key: stackstate.apiKey.key
#
# That file was created when the 'helm template' command was run before
# installing the Observability Helm chart.
#
# You can set this variable using the following command substitution if 
# Observability was deployed using the script in this directory:
#
# $(grep -m 1 "^ *key:" suse-observability-values/templates/baseConfig_values.yaml | awk '{ print $2 }' | cut -d \" -f 2)
#
# If not you can replace "suse-observability-vaules/templates" with the 
# directory containing the baseConfig_values.yaml file.
# 
# You can also just manually locate the value in the baseConfig_values.yaml.
#
export OBSERVABILITY_INSTALL_API_KEY=$(grep -m 1 "^ *key:" suse-observability-values/templates/baseConfig_values.yaml | awk '{ print $2 }' | cut -d \" -f 2)


# Observability API Token
#
# The token used to access the API via the CLI.
#
# This is found in the Observability Dashboard under:
#   Hamburger menu (top left) 
#      --> CLI 
#           --> Your API token
#
export OBSERVABILITY_API_TOKEN=


# Observability API Token Type
#
# Option: api, service
#
# If you retrieved the API token from the web UI under CLI-->APi Token
# then use type: api
#
# If you created a separate service token then use the typeL service
#
# Default: api
#
export OBSERVABILITY_API_TOKEN_TYPE=api


# Cluster Being Observed
#
# Cluster name of the cluster being observed.
#
# This is the same cluster name as was used for the Kubernetes StackPack
# instance when the Observability agent was installed.
#
export OBSERVABILITY_OBSERVED_CLUSTER_NAME=ai1
