############################################################################
# Source In Additional Config Files
############################################################################

source ../deploy_rke2.cfg


############################################################################
#   Kube-VIP Variables
############################################################################

# Kube-VIP Helm Install URL
# 
# The Helm repo to install Kube-VIP from.
#
# The upstream repo is: https://kube-vip.github.io/helm-charts
#
export KUBEVIP_HELM_REPO="https://kube-vip.github.io/helm-charts"


# Kube-VIP Helm Chart
#
# If this variable is set then the KUBEVIP_HELM_REPO is ignored and 
# this chart is used to install Kube-VIP instead.
#
# The AppCo chart is: oci://dp.apps.rancher.io/charts/kube-vip
#
export KUBEVIP_HELM_CHART=


# Version of Kube-VIP to Install
#
# If left empty the latest version will be installed.
#
export KUBEVIP_VERSION=


# Namespace to install Kube-VIP into
#
export KUBEVIP_NAMESPACE=kube-vip


# Kube-VIP Network Interface
#
export KUBEVIP_INTERFACE=


# Kube-VIP virtual IP address
#
export KUBEVIP_ADDRESS=


# Kube-VIP Control Plane Enable
#
# Options: true|false
#
# Default: true
#
export KUBEVIP_CP_ENABLE=true


# Kube-VIP VIP Leader Election
#
# Options: true|false
#
# Default: true
#
export KUBEVIP_VIP_LEADERELECTION=true


############################################################################
#   Cert-Manager Variables
############################################################################

# Cert-Manager Helm Install URL
# 
# The Helm repo to install Cert-Manager from.
#
# The upstream repo is: https://charts.jetstack.io
#
export CERTMANAGER_HELM_REPO="https://charts.jetstack.io"


# Cert-Manager Helm Chart
#
# If this variable is set then the CERTMANAGER_HELM_REPO is ignored and 
# this chart is used to install Cert-Manager instead.
#
# The AppCo chart is: oci://dp.apps.rancher.io/charts/cert-manager
#
export CERTMANAGER_HELM_CHART=


# Version of Cert-Manager to Install
#
# If left empty the latest version will be installed.
#
export CERTMANAGER_VERSION=


# Namespace to install Cert-Manager into
#
export CERTMANAGER_NAMESPACE=cert-manager


